$primary-font: "arial";

body {
  font-size: 1em;
  * {
    text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.6);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
  }
}
