@import "../../scss/master.scss";
.content-container {
  padding-bottom: $dpadding * 4;
}

.section-header {
  padding: 0px;
  margin-bottom: $null;
  .back-button {
    background-color: transparent;
    border: none;
    padding: $null;
  }
}

.section-content {
  margin-top: 20px;
  margin-bottom: 20px;
  &.add-question {
    text-align: center;
    .MuiPaper-root {
      padding: $dpadding * 4;
      button {
        border: thin solid #009688;
        color: #009688;
        span {
          @include font-size(28px);
          line-height: 1.7;
          margin-right: 10px;
        }
      }
    }
  }
  .MuiFormControl-root {
    width: $full;
  }

  .dashboard-filter {
    @include flexbox();
    @include flex-direction(row);
    .form-field-group {
      margin-right: $dmargin * 3;
      label {
        margin-bottom: 8px;
        display: inline-block;
        @include font-size(14px);
        font-family: $primary-font;
        color: rgba(#4d4f5c, 1);
        font-weight: bold;
        text-align: left;
        line-height: 1.7;
      }
    }
  }

  .TabPanelUnstyled-root {
    .MuiPaper-root {
      margin-bottom: $dmargin * 4 !important;
    }
  }

  .score-content {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    padding: $dpadding * 3 $null;
    @include justify-content(space-between);

    .score-smile {
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(center);
      height: $full;
      margin-right: $dmargin;
    }
    .score-card {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      h4 {
        @include font-size(18px);
        font-family: $primary-font;
        color: rgba(#4d4f5c, 1);
        font-weight: bold;
        text-align: left;
        line-height: 1;
      }
      span {
        @include font-size(15px);
        font-family: $primary-font;
        color: rgba(#4d4f5c, 0.3);
        font-weight: normal;
        text-align: left;
        line-height: 1;
      }
    }
  }
}

.dashboard {
  .section-header {
    // margin-top: 20px;
    @include flexbox();
      @include flex-direction(row);
      @include justify-content(space-between);
    h2 {
      @include font-size(20px);
      font-family: $primary-font;
      color: rgba(#4d4f5c, 1);
      font-weight: bold;
      text-align: left;
      line-height: 1.7;
    }
    button{
      background-color:#009688;
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root{
      background-color: #009688 !important;
  }
    .back-button {
      svg {
        fill: rgba(#4d4f5c, 1);
      }
    }
  }
  .overview-tab {
  }
  .TabsUnstyled-root {
    h3 {
      @include font-size(20px);
      font-family: $primary-font;
      color: rgba(#4d4f5c, 1);
      font-weight: bold;
      text-align: left;
      line-height: 1.7;
    }
    .css-1a5qejj {
      border-bottom: #009688 3px solid;
      border-radius: 0px !important;
      button {
        margin-bottom: 0px;
        border-radius: 0px !important;
      }
    }
  }
  .question-tab {
    .MuiCardContent-root {
      padding: 0px !important;
      .css-jgzxgq-MuiDataGrid-root {
        // border-radius: 0px;
        border: none;
      }
    }
  }
}
